@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Poppins&display=swap');

.App {
  color: white;
  min-height: 100vh;
  padding-bottom: 1rem;
  font-family: "Nunito Sans";
}

.page-title {
  color: #F3AA00;
  font-weight: bolder;
  font-family: "Poppins";
}

.page-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
}

.list-cards {
  flex-direction: column;
}
