.App {
  background: #292929;
  color: white;
  min-height: 100%;
}

html, body {
  background: #292929;
  min-height: 100%;
}

.places {
  font-size: 1.1rem;
  font-weight: 300;
}

.places-title {
  color: #F3AA00;
  font-weight: 700;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.back-chevron {
  padding-top: 16px;
  position:fixed;
	width:60px;
	height:60px;
	top:4px;
	left:0;
	background-color: black;
	border-radius:50px;
  text-align:center;
  color: white;
}