.place-card {
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0), 0 0 20px 0 rgba(0,0,0,0.19);
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
}

.place-add-button {
    font-weight: 300;
    display: block;
    margin: auto;
}